#texto1 {
    color:red;
}

.titulo1 {
    background-color: rgb(255, 163, 163);
    border-style: dotted;
}

.titulo2 {
    color:
        orange;
}
.titulo{
    color:red;
}
img{
    max-width: 100px;
}
.imagem2{
    max-width: 200px;
}